@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0f172a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
  height: 100%;
}